apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-postgres
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-postgres
  template:
    metadata:
      labels:
        app: notification-postgres
    spec:
      containers:
        - name: notification-postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: "notification_service_db"
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "password"
          volumeMounts:
            - name: notification-postgres-pvc
              mountPath: /var/lib/postgresql/data
          livenessProbe:
            exec:
              command:
              - /bin/sh
              - -c
              - pg_isready -U postgres
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
              - /bin/sh
              - -c
              - pg_isready -U postgres
            initialDelaySeconds: 10
            periodSeconds: 5
      volumes:
        - name: notification-postgres-pvc
          persistentVolumeClaim:
            claimName: notification-postgres-pvc