apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: microservices
  labels:
    app: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: inam101001/user-service:dev
          imagePullPolicy: Always
          ports:
            - containerPort: 8001
          env:
            - name: USER_SERVICE_DATABASE_URL
              valueFrom:
                configMapKeyRef:
                  name: user-service-config
                  key: USER_SERVICE_DATABASE_URL
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /
              port: 8001
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 8001
            initialDelaySeconds: 10
            periodSeconds: 5
      initContainers:
        - name: wait-for-postgres
          image: busybox:1.28
          command: ['sh', '-c', "until nc -z user-postgres 5432; do echo waiting for postgres; sleep 2; done"]