apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
  namespace: microservices
  labels:
    app: account-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
        - name: account-service
          image: inam101001/account-service:dev
          ports:
            - containerPort: 8002
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"
