apiVersion: v1
kind: Service
metadata:
  name: account-service
  namespace: microservices
spec:
  selector:
    app: account-service
  ports:
    - protocol: TCP
      port: 8002
      targetPort: 8002
  type: ClusterIP
