apiVersion: apps/v1
kind: Deployment
metadata:
  name: transaction-service
  namespace: microservices
  labels:
    app: transaction-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: transaction-service
  template:
    metadata:
      labels:
        app: transaction-service
    spec:
      containers:
        - name: transaction-service
          image: inam101001/transaction-service:dev
          ports:
            - containerPort: 8003
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"
